
    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;">
          <img src="images/logosmall.png" alt="Rydesignsstuff Logo">
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a routerLink="/home" class="navbar-item">Home</a>
            <a routerLink="/about" class="navbar-item">About</a>
            <a routerLink="/offer" class="navbar-item">What I offer</a>
            <a routerLink="/contact" class="navbar-item">Contact</a>
            <a routerLink="/faq" class="navbar-item">FAQs</a>
          </div>
        </div>
      </div>
    </nav>
    <section class ="section has-background-primary has-text-centered">

      <br>
      <img class="image is-inline-block" src="images/logolarge.png" alt="Rydesignsstuff Logo">
      <h1 class="has-text-white title"> Local Electrical services </h1>
