<router-outlet></router-outlet>
<app-header></app-header>

<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      
      <div class = "title">
        Your Local Belfast Electricians
      </div>
      <div class ="subtitle">
        LLC Electronics, are fully qualified and NICEIC registered electricians,
        providing quality electrical <u routerLink="/offer">services</u> to homes across Belfast now.
        <br>
        <br>
        Call us now on: <u>07718647286</u>
        <br>
        Or email us <u>LLCElectronics@Protonmail.com</u>
        </div>

      
    </div><!--container-->
  </div><!--section-->
